@import '~style/vars.scss';

.verification {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  .heading {
    font-size: 21px;
    margin: 33px 0px 20px 0px;
    font-weight: 500;
  }

  .text {
    font-size: 14px;
    line-height: 1.5;
  }

  .closeButton {
    @include closeButton(32px, 5px);
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;

    &:hover {
      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }
}
