{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true
      }
    ],
    [
      "@babel/preset-stage-0",
      {
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": ["react-hot-loader/babel", "lodash", "transform-optional-chaining"],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true,
            "additionalLibraries": ["react-immutable-proptypes"]
          }
        ]
      ]
    },
    "test": {
      "plugins": ["syntax-dynamic-import", "dynamic-import-node"]
    }
  }
}
