@import "~style/vars.scss";

.formRadioButton {
  padding: $paddings-inputs;

  label {
    margin: 0;
    white-space: nowrap;
  }

  input[type="radio"] {
    margin: 0;
    margin-right: 5px;
    position: relative;
    top: 3px;
    appearance: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    background-color: $bg-color-muted;
    border: 0px solid $bg-color-muted;

    // for use with currentColor:
    color: $active-highlight;

    transition: background-color 0.2s ease, border 0.2s ease;

    // current color is highlight color
    &:checked {
      background-color: currentColor;
      border-width: 4px;
    }

    &:checked + .radioButton__text {
      font-weight: 800;
    }

    &:checked,
    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 0 4px 1px currentColor;
    }
  }
  
  &.error {
    label {
      color: $active-highlight-error;
    }
  }

  &.light {
    input[type="radio"] {
      background-color: $bg-color;
      border-color: $bg-color;

      // for use with currentColor:
      color: $active-highlight;
      &:checked {
        background-color: currentColor;
      }
    }
  }
}