@import "../../scss/vars.scss";

.formSelectInput {
  .Select-control {
    border: 0;
    border-bottom: 1px solid $bg-color-muted;
    border-radius: unset;
  }

  .Select-menu-outer {
    border-radius: unset;
  }
}