@import '../../scss/vars.scss';

.formTextArea {
  textarea {
    border: none;
    background: none;
    border-bottom: 1px solid $bg-color-muted;
    overflow: auto;

    @include inputStyles();

    &--error {
      color: $active-highlight-error;
      border-bottom-color: $active-highlight-error !important;
    }

    &:active, &:focus {
      outline: 0;
    }
  }
}
