@import '~style/vars.scss';

.rewardClaim {
  width: 350px;
  height: 110px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.11);
  word-break: break-all;
  margin-bottom: 20px;

  display: flex;

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  .iconSection {
    background-color: #f0f1f1;
    width: 60px;
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  .loadingSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 118px;
  }

  a,
  a:link,
  a:visited {
    color: #00a6c4;
    text-decoration: underline;
  }
}
