@import '../../scss/vars.scss';
@import "../FormSlider/slider.scss";
@import "../FormSlider/thumb.scss";

$indexWidth: 36px;
$groupWidth: 33%;

.marketMyShares {

  .formSlider {
    padding-top: 15px;
    &__input {
      background: none;
      @include sliderCrossBrowser(#d6d8d8);
      @include thumbCrossBrowser(#1aa4c5, #1aa4c5);
    }
  }

  &__shareTable {
    margin-top: 20px;
    table-layout: fixed;
  }

  &__tableHeading {
    font-weight: 400;
    text-transform: uppercase;
    color: $font-color-muted;
    border-bottom: none !important;

    &--group {
      width: $groupWidth;
    }

    &--index {
      width: $indexWidth;

      border-bottom: 0 !important;
    }
  }

  &__diff {
    &--positive {
      color: $active-highlight-success !important;
    }

    &--negative {
      color: $active-highlight-error !important;
    }
  }
  &__sellButton {
    color: $link-color !important;
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  &__sellView {
    td {
      border-top: 0 !important;
    }
  }

  &__sellContainer {
    padding-left: $indexWidth;
  }

  &__sellColumn {
    padding: 0 8px;

    &--info {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      padding: 7px 0px;

      & label {
        display: inline;
        margin: 0;
        font-size: 14px;
        padding: 0px 7px;
        font-weight: bold;
      }

    }
  }

  &__sellRow {
    margin: 10px 0px 0px;
  }

  &__errorColumn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.marketMySharesSellAmount {
  &__input {
    font-size: 14px;
    border-bottom-color: darken($bg-color-muted, 10%) !important;
  }
}

.marketMySharesSellButton {
  display: inline-block;
  margin-right: 10px;
  &__input {
    background-color: darken($bg-color-muted, 10%) !important;
  }
}