@import '~style/vars.scss';

.acceptTOS {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tosContainer {
    width: 520px;
    height: 410px;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 27px;
    text-align: center;
    color: #666;

    @media (max-width: 767px) {
      height: 100%;
      width: 100%;
      justify-content: center;

      h4 {
        margin-top: 0;
      }
    } 

    .loginButton {
      width: 220px;
      height: 44px;
      font-size: 15px;
      font-weight: 500;
      margin-top: 25px;

      @include interfaceButton();

      &.disabled {
        opacity: 0.6;
      }
    }
  }

  .closeButton {
    @include closeButton(32px, 5px);
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;

    &:hover {
      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }
}