@import '../../../../../../../scss/vars.scss';

.ShareSellButton {
    color: $link-color !important;
    text-transform: uppercase;
    letter-spacing: .5px;
    border: none;
    background: transparent;

    &:focus {
        outline: none;
        font-weight: bold;
    }
  }