@import "../../scss/vars.scss";
@import "../FormSlider/slider.scss";
@import "../FormSlider/thumb.scss";

.marketBuySharesForm {
  &__row {
    margin: 20px 0;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }
  }

  &__cancel {
    &::before {
      background: $bg-color-muted !important;
    }
  }
  .formSlider {
    padding-top: 15px;
    &__input {
      background: none;
      @include sliderCrossBrowser(#d6d8d8);
      @include thumbCrossBrowser(#1aa4c5, #1aa4c5);
    }
  }
}

.marketBuyCheckbox {
  &__input {
    background-color: darken($bg-color-muted, 10%) !important;
  }
}

.marketBuyOutcome {
  margin: 20px 0;

  .marketBuyOutcome__input[type="radio"] {
    width: 32px;
    height: 32px;

    // current color is highlight color
    background-color: currentColor;

    &:checked {
      border-color: $bg-color-muted;
    }
  }

  &__text {
    line-height: 32px;
    padding-left: 20px;
  }
}

.marketBuyInvest {
  &__input {
    font-size: 32px;
    text-align: right;
    padding-bottom: 10px !important;
    font-weight: 300;

    &:placeholder {
      font-weight: 300;
    }

    border-color: $bg-color-dark;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
  }
}

.limitMarginField {
  margin: 0;
}

.marketBuyCurrency {
  height: 100%;
  font-size: 32px;
  padding-bottom: 33px;

  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

.marketBuyWin {

  &__row {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
  }

  &__min {
    color: red;
  }

  &__max {
    color: green;
  }

  &__outcomeColor {
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    border-radius: 4px;
  }

  &__invalidParam {
    color: $font-color-muted;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
    height: 20px;
    line-height: 30px;
  }
}
