@import url("../../less/vars.scss");
@import url("./slider.scss");
@import url("./thumb.scss");

.formSlider {
  display: inline-block;

  &__value {
    text-align: center;
    text-transform: none;
    color: $font-color-light;

    &-container {
      position: relative;
      text-align: center;

      &.showDefaultUnit:after {
        content: "%";
        position: absolute;
        display: inline-block;
        right: -20px;
        top: 50%;
        transform: translateY(-56%);
      }
    }
  }

  &__slider-container {
    display: flex;
    align-items: center;
  }

  &__range {
    &--min,
    &--max {
      display: inline-block;
      text-transform: none;
      color: $font-color-light;
      margin: 0;
    }
  }

  &__input[type="range"] {
    width: auto;
    display: inline-block;

    margin: 0 8px;

    appearance: none;
    vertical-align: middle;

    @include sliderCrossBrowser($bg-color-muted);

    @include thumbCrossBrowser($active-highlight, $bg-color-muted);
  }
}
