@import '~style/vars.scss';

.marketTimer {
  margin-top: 12px;
  margin-bottom: 12px;

  .marketTimerLive {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.2;
    @media (min-width: $screen-sm) {
      font-size: 28px;
    }

    &.big {
      font-size: 24px;
    }

    .timerLabel {
      color: $font-color-muted;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  .marketStatus {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.2;
    @media (min-width: $screen-sm) {
      font-size: 28px;
    }
  }

  .marketTimeAbsolute {
    color: $font-color-light;
    opacity: 0.6;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
