@import '~style/vars.scss';

.marketInfoСontainer {
  text-align: left;
  margin-top: 40px;
  position: relative;

  @media (min-width: $screen-sm) {
    text-align: right;
    margin-top: 0;
  }

  .infoText {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0; //just until we use real names
    @media (min-width: $screen-sm) {
      //just until we use real names
      padding-left: 100px; //just until we use real names
    } //just until we use real names

    &.value {
      font-size: 15px;
      color: $font-color-light;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 5px;
    }

    &.label {
      text-transform: uppercase;
      color: $font-color-light;
      font-size: 10px;
      opacity: 0.6;
      letter-spacing: 0.5px;
      margin: 0 0 20px 0;
    }
  }
}
