.default-paragraph {
    font-family: Montserrat;
    color: #626262;   
}

.soft {
    color: #888888;
}

.medium {
    color: #686868;
}

.dark {
    color: black;
}

.no-margin{
    margin-bottom: 5px;
}

.center {
    text-align: center;
}