@import "../../../../scss/vars";

$expandable-arrow-size: 15px;
$expandable-margin: 40px;

.marketTitleHeading {
  margin: $page-heading-margins;
}

.expandable {
  position: relative;
  z-index: 2;
  margin-top: $expandable-margin;
  .inner {
    padding: 40px 0;
    background-color: $bg-color-muted;

    &::before {
      visibility: visible;
      content: "";
      position: absolute;
      margin-bottom: 50px;
    }
  }
}