.addressSection {
    padding: 26px 18px;

    .rewardClaimTitle {
        font-size: 16px;
        text-align: left;
        font-weight: 500;
        padding-bottom: 12px;
        line-height: 1;
        color: #000;
        margin: 0;
    }    
}