.icon {
  display: inline-block;
  position: relative;

  height: 16px;
  width: 16px;

  content: '\00a0';
  background-position: center center;
  background-repeat: no-repeat;

  font-style: normal;
}