@import url('defaults.less');

@font-color-light: #182a36;
@font-color-dark: #87949c;
@font-color-muted: lighten(@font-color-dark, 10%);

@link-color: #00a6c4;
@link-color-highlight: darken(@link-color, 10%);

@highlight-dark: #284659;

@active-highlight: #00a6c4;

// default background color
@bg-color: #FFFFFF;
// alternative background color
@bg-color-dark: #182a36;
// background color for inset elements
@bg-color-muted: #f0f1f1;

// inset of white background overlay (basically border-size)
@btn-border-width: 4px;

// gradient for buttons and interactive elements
@btn-gradient: linear-gradient(139deg, rgba(0,166,196,1) 0%,rgba(0,166,196,1) 46%,rgba(10,220,196,1) 100%);

// font color for buttons
@btn-font-color: #FFFFFF;

// font color for buttons with whitebackground (dark font)
@btn-invert-font-color: #02b1c1;

// margin for heading elements
@page-heading-margins: 60px 0 90px 0;

// colors for graphs/outcome colors
@highlightGreen: #0be1b1;
@highlightRed: #e01563;
@highlightOrange: #f2a00a;
@highlightGray: #6f6f6f;
@highlightBlue: #0abcf2;
@highlightPink: #f20ae0;
@highlightYellow: #e4f20a;
@highlightBrown: #73472c;
