@font-color-light: #182a36;
@font-color-dark: #87949c;
@font-color-muted: lighten(@font-color-dark, 10%);

@link-color: #00a6c4;

@active-highlight: #00a6c4;
@highlight-green: #0be1b1;
@highglight-yellow: #f2cc0a;
@highlight-red: #e01563;

@bg-color: #FFFFFF;
@bg-expand-color: #f0f1f1;

@btn-inset: 4px;
@btn-gradient-start: #09d6b5;
@btn-gradient-end: #02b1c1;

@btn-gradient: linear-gradient(to right, @btn-gradient-start, @btn-gradient-end);

@btn-font-color: #FFFFFF;
@btn-invert-font-color: #02b1c1;
