.headerMobileContainer {
  display: flex;

  .logo {
    margin-right: auto;

    .headerLogo {
      display: inline-block;
      height: 25px;
      width: 100px;
      margin-left: 15px;
      background-image: var(--smallLogoPath, url('../../../../assets/img/gnosis_logo_icon.svg'));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      margin-top: 30px;

      &.beta {
        position: relative;
        font-family: inherit;
        font-size: 8px;
        color: #989898;
        letter-spacing: 1px;
        font-weight: normal;

        &:after {
          content: var(--logoAnnotation, 'BETA');
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .overviewContainer {
    text-align: center;
    margin-bottom: 30px;

    .identicon {
      width: 90px;
      height: 90px;

      border-radius: 50%;
      border: 1px solid white;
    }
    
    .networkBalanceWrapper {
      display: flex;
      margin-bottom: 10px;

      & > div {
        line-height: 1;
        margin-top: -1px;
      }

      span {
        font-size: 15px;
        font-weight: bold;
      }

      .network {
        margin-right: auto;
      }
    }

    .addressWrapper {
      margin-top: 10px;
      .address {
        padding: 0;
        border: 0;
        background: transparent;
        color: #b8b7ad;

        &:focus,
        &:hover {
          color: darken($color: #b8b7ad, $amount: 20);
          outline: 0;
        }
      }
    }
  }
}
