.headerMobileContainer {
  display: flex;

  .hiddenIcon {
    display: none;

    & ~ button {
      display: none;
    }
  }

  .logo {
    margin-right: auto;

    .headerLogo {
      display: inline-block;
      height: 25px;
      width: 100px;
      margin-left: 15px;
      background-image: var(--smallLogoPath, url('../../../../assets/img/gnosis_logo_icon.svg'));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      margin-top: 30px;

      &.beta {
        position: relative;
        font-family: inherit;
        font-size: 8px;
        color: #989898;
        letter-spacing: 1px;
        font-weight: normal;

        &:after {
          content: var(--logoAnnotation, 'BETA');
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .connect-wallet {
    background-color: #00a6c3;
    color: #fdfdfd;
    border: 0;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.2s ease-in-out;

    &:focus,
    &:hover {
      background-color: darken(#00a6c3, 10%);
    }
  }

  .navLink {
    color: #dadadd;
  }
}
