.ol-db-metric {
    display: flex;
    margin-right: 100px;
    align-items: center;
}

.ol-db-container {
    display: flex;
}

.ol-db-title {
    font-size: 28px;
    font-weight: 300;
    color: #333333;
    font-family: Montserrat;
    min-height: 32px;
}

.ol-db-title-badge {
    font-size: 14px;
    line-height: 28px;
}

.ol-db-explanation{
    font-family: Montserrat;
    font-size: 10px;
    text-align: left;
    color: #87949c;
    text-transform: uppercase;
}

.ol-db-icon {
    object-fit: contain;
    margin-right: 7px;
}