.menuAccountDropdown {
  position: relative;
  margin-left: 12px;

  width: 32px;
  height: 32px;

  &:hover {
    .arrow {
      &::after {
        border-color: lighten(black, 50%);
      }
    }
  }

  .arrow {
    width: 32px;
    height: 32px;

    &::after {
      content: '';
      position: absolute;

      top: 50%;
      left: 50%;

      margin-top: -6px;
      margin-left: -6px;

      width: 12px;
      height: 12px;

      border-bottom: 3px solid black;
      border-right: 3px solid black;

      transform: rotate(45deg);
      transform-origin: 50% 50%;
    }
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.action {
  color: black;
  font-size: 15px;

  button {
    appearance: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    padding: 8px;

    &:hover,
    &:active {
      color: lighten(black, 50%);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.separator {
  height: 1px;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 50%;
    margin-left: -50%;

    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
  }
}