.menuAccountDropdown {
  &.rc-tooltip {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.24));
    box-shadow: none;
  }
  .rc-tooltip-inner {
    background-color: #fafafa;
    width: 140px;
    border-radius: 2px;

    box-shadow: none;
    z-index: 5;
  }
  .rc-tooltip-inner {
    box-shadow: none;
  }
  .rc-tooltip .rc-tooltip-content .rc-tooltip-arrow {
    background: none;
    height: 0;
    width: 0;
    top: -21px;
    margin-right: -7.5px;
    position: absolute;
    pointer-events: none;
    border: transparent 15px solid;
    border-bottom: #fafafa 15px solid;

    z-index: 1;
  }
}
