.trophy {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & img {
        width: 48px;
        height: 46px;
    }

    & p {
        font-size: 44px;
        margin: 0 0 0 10px;
        font-family: Montserrat;
        font-size: 42px;
        font-weight: 300;
        text-align: left;
        color: #333333;
    }
}

.explanation {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #626262;   
}