@import '~style/vars.scss';

.rewardContainer {
  display: flex;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }
}

.trophy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  & img {
    width: 48px;
    height: 46px;
  }

  & p {
    font-size: 44px;
    margin: 0 0 0 10px;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 300;
    text-align: left;
    color: #333333;
  }
}

.explanation {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
}

.norows {
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  color: #626262;
  margin: 10px 0px;
}
