@import '../../scss/vars.scss';

$navbarHeight: 40px;
.headerContainer {
  vertical-align: middle;
  padding: 30px 0 40px;

  @media (min-width: 768px) {
    .navLinks {
      min-width: 450px;

      .navLink {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 768px) {
    .navLinks {
      min-width: 420px;

      .navLink {
        font-size: 12px;
      }
    }
  }

  .connect-wallet {
    cursor: pointer;
    font-size: 16px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .network {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--wrongChain,
    &--wrongChainHelp {
      margin: 0;
      line-height: 1;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

    &--wrongChain {
      color: $active-highlight-error;
    }

    &--text {
      margin-right: 20px;
    }
  }

  .account {
    display: flex;
    align-items: center;
    margin-left: auto;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &--text {
      line-height: 40px;
      font-weight: 500;
      margin-right: 5px;
      margin-bottom: 2px;
      letter-spacing: 0.5px;
    }

    img {
      margin-left: 10px;
    }
  }

  .group {
    &.version {
      line-height: $navbarHeight;
      color: white !important;
      font-size: 12px;
      display: none;
      letter-spacing: 0.5px;
    }

    &.logo {
      width: 70px;
      padding-right: 0;
      height: $navbarHeight;

      @media (min-width: $screen-sm) {
        width: 200px;
        padding-right: 70px;
        position: relative;
        height: $navbarHeight;
      }
    }

    &.right {
      margin-left: auto;
    }

    &.logo {
      width: 70px;
      padding-right: 0;
      height: $navbarHeight;

      @media (min-width: $screen-sm) {
        width: 200px;
        padding-right: 70px;
        position: relative;
        height: $navbarHeight;
      }

      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        padding-right: 0;
        width: 134px;
      }
    }

    .navLink {
      margin-left: 15px;
      line-height: $navbarHeight;
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 2px;
      letter-spacing: 0.5px;
      border-bottom: 2px solid transparent;
      color: black !important;
      font-size: 11px;

      @media (min-width: $screen-sm) {
        font-size: 14px;
        margin-left: 20px;
      }

      &:hover,
      &.active {
        border-color: $link-color;
      }
    }
  }
}

.headerLogo {
  display: inline-block;
  height: 25px;
  width: 70px;
  background-image: var(--logoPath, url('../../assets/img/gnosis_logo_icon.svg'));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;

  @media (min-width: $screen-sm) {
    height: 40px;
    width: 130px;
    background-image: var(--logoPath, url('../../assets/img/gnosis_logo.svg'));
  }

  &.beta {
    position: relative;
    font-family: inherit;
    font-size: 8px;
    color: #989898;
    letter-spacing: 1px;
    font-weight: normal;

    &:after {
      content: var(--logoAnnotation, 'BETA');
      position: absolute;
      right: 0;
      bottom: -5px;

      @media (max-width: $screen-sm) {
        bottom: -20px;
      }
    }
  }
}
