.headerContainer {
  vertical-align: middle;
  padding: 30px 0 40px;
}

.weth-explanation {
  max-width: 250px;
  text-align: center;
}

.symbol {
  text-decoration: underline; 
  text-decoration-style: dotted;
}
