@import url('../../less/vars.less');

.inputField__input {
  border: none;
  background: none;
  border-bottom: 1px solid @bg-color-muted;
  font-size: 24px;

  &:active, &:focus {
    outline: 0;
  }
}
