@import "../../less/vars.less";

@market-border-radius: 12px;
@market-highlight-stripe-width: 5px;
@outcome-bar-height: 15px;
@info-row-height: 25px;
@expandable-arrow-size: 15px;
@expandable-margin: 40px;

@dashboardmarket-left-column-width: 80px;
@dashboardmarket-left-column-value-color: black;


.dashboardStats {
  &__label {
    color: @font-color-dark;
    opacity: .6;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .5px;
  }

  &__value {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__control {
    float: right;
  }

  .dashboardStats__icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

}

.dashboardPage {
  &__markets {
    background-color: @bg-color-muted;
    padding: 40px 0;
  }

  &__stats {
    margin: 50px 0;
  }

  &__header {
    margin: @page-heading-margins;
  }
}

.dashboardControls__button {
  margin-right: 20px;

  &--active {
    &:after {
      content: '';
      position: absolute;
      bottom: -@expandable-margin;
      left: 50%;
      margin-left: -@expandable-arrow-size;
      width: 0;
      height: 0;
      border-left: @expandable-arrow-size solid transparent;
      border-right: @expandable-arrow-size solid transparent;
      border-bottom: @expandable-arrow-size solid @bg-color-muted;
    }
  }
}

.dashboardWidgets {
  padding: 40px 0;
  &--markets {
    background-color: @bg-color-muted;

    .row:first-child {
      margin-bottom: 40px;
    }
  }

  &--financial {
    background-color: @bg-color-dark;
  }
}


.dashboardWidget {
  &__title {
    margin: 0 0 12px 0;
    font-size: 12px;
    opacity: .6;
    text-transform: uppercase;
    color: @font-color-dark;
    font-weight: 400;
    letter-spacing: .5px;
  }

  &__container {
    background-color: white;
    border-radius: @market-border-radius;
  }

  &--financial {
    .dashboardWidget__container {
      background-color: transparent;
    }
  }
}


.dashboardMarket {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid @bg-color-muted;

  &__title {
    font-size: 18px;
    letter-spacing: .75px;
    font-weight: 300;
    padding: 2px 0;
  }

  &:hover,&:focus {
    outline: 0;
    color: inherit !important;
    cursor: pointer;

    // .market__title {
    //   color: @link-color;
    // }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: @market-highlight-stripe-width;
      background-color: @link-color;
    }
  }

  &:first-child {
    border-top-left-radius: @market-border-radius;
    border-top-right-radius: @market-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: @market-border-radius;
    border-bottom-right-radius: @market-border-radius;
  }

  .outcome__bar {
    width: 65%;
  }

  &--twoColumns {
    display: table;
    width: 100%;
  }

  &__leftCol {
    display: table-cell;
    width: @dashboardmarket-left-column-width;
    text-align: center;
    vertical-align: middle;

    .value {
      color: @dashboardmarket-left-column-value-color;
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 1;
      width: 100%;
    }

    .caption {
      line-height: 1;
      text-transform: uppercase;
      font-size: 9px;
      padding-top: 5px;
      letter-spacing: .75px;
      color: @font-color-muted;
    }
  }

  &__rightCol {
    display: table-cell;
    width: calc(100% - @dashboardmarket-left-column-width);
    padding-left: 10px;
  }




  &--onDark {
    .dashboardMarket__title {
      color: white;
    }
  }

}


.expandable {
  position: relative;
  z-index: 2;
  margin-top: @expandable-margin;
  &__inner {
    padding: 40px 0;
    background-color: @bg-color-muted;

    &::before {
      visibility: visible;
      content: '';
      position: absolute;
      margin-bottom: 50px;
    }
  }
}