.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #fff;
  padding: 0;
  text-align: center;
  z-index: 10;

  .footerContainer {
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    color: #686868;
    text-align: center;
  }

  a {
    text-decoration: underline;

    &:hover, &:visited, &:active {
      color: #00a6c4
    }
  }  
}