@import "../../../../../scss/vars";
@import "../../../../../components/Form/Slider.mod.scss";

.marketBuySharesForm {
  .infoRow {
    margin: 20px 0;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    font-size: 14px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.marketBuyInvest {
  input {
    font-size: 32px;
    text-align: right;
    padding-bottom: 10px !important;
    font-weight: 300;
  }

  // .adornment
  p {
    font-size: 32px;
    text-align: right;
    padding-bottom: 10px !important;
    font-weight: 300;
    margin-left: 5px;
  }

  input {
    &:placeholder {
      font-weight: 300;
    }
  }
}

.marketBuyWin {

  &.winInfoRow {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
  }

  &.min {
    color: red;
  }

  &.max {
    color: green;
  }

  &.outcomeColor {
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    border-radius: 4px;
  }
}

.invalidParam {
  color: $font-color-muted;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  height: 20px;
  line-height: 30px;
}

.limitMarginAnnotation {
  text-align: center;
  font-size: 14px;
}
