@import "~style/vars.scss";

$expandable-arrow-size: 15px;
$expandable-margin: 40px;

.marketControls {
  &.controlsContainer {
    padding-top: 40px;
  }

  .button {
    margin-right: 20px;

    &.active {
      &:after {
        content: '';
        position: absolute;
        bottom: -$expandable-margin;
        left: 50%;
        margin-left: -$expandable-arrow-size;
        width: 0;
        height: 0;
        border-left: $expandable-arrow-size solid transparent;
        border-right: $expandable-arrow-size solid transparent;
        border-bottom: $expandable-arrow-size solid $bg-color-muted;
      }
    }
  }
}
