$font-color-light: #182a36;
$font-color-dark: #87949c;
$font-color-muted: lighten($font-color-dark, 10%);
$font-color-bright: #f0f1f1;

$brand-primary: #00a6c4;

$link-color: #00a6c4;
$link-color-highlight: darken($link-color, 10%);

$highlight-dark: #284659;

$active-highlight: #00a6c4;
$active-highlight-success: #26cc1e;
$active-highlight-error: #f44336;

// default background color
$bg-color: #FFFFFF;
// alternative background color
$bg-color-dark: #182a36;
// background color for inset elements
$bg-color-muted: #f0f1f1;

// inset of white background overlay (basically border-size)
$btn-border-width: 2px;

// gradient for buttons and interactive elements
$btn-gradient: linear-gradient(153deg, rgba(5,189,196,1) 0%, rgba(0,166,196,1) 100%);
$btn-gradient-hover: linear-gradient(153deg, rgba(15,199,206,1) 0%, rgba(0,176,206,1) 100%);
$btn-gradient-active: linear-gradient(153deg, rgba(0,179,186,1) 0%, rgba(0,156,186,1) 100%);


// font color for buttons
$btn-font-color: #FFFFFF;

// font color for buttons with whitebackground (dark font)
$btn-invert-font-color: #02b1c1;

// Screen size variables
$screen-sm: 768px;
$screen-sm-min: $screen-sm;

// margin for heading elements
$page-heading-margins: 30px 0;

$font-size-inputs: 16px;
$letter-spacing-inputs: .5px;
$font-weight-inputs: 400;
$paddings-inputs: 5px 0;

// styles for inputs
@mixin inputStyles() {
  font-size: $font-size-inputs;
  letter-spacing: $letter-spacing-inputs;
  font-weight: $font-weight-inputs;
  padding: $paddings-inputs;
}

@mixin closeButton($size, $stroke) {
  position: absolute;
  width: $size;
  height: $size;
  text-align: left;
  cursor: pointer;
  
  &::after, &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: calc(50% - ($stroke/2));
    height: $stroke;
    transition: background-color .4s ease-in;
    background-color: black;
    transform-origin: 50% 50%;
  } 

  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);  
  }

  &:hover, &:focus {
    &::after, &::before {
      background-color: $active-highlight;
      background-color: $active-highlight;
    }
  }

  &:focus {
    outline: none;
  }
}

@mixin interfaceButton() {
  color: $btn-font-color;
  border-radius: 9999px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  background: $btn-gradient;
  border: none;
  position: relative;
  z-index: 2;
  transition: 0.15s;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;

  @media (min-width: $screen-sm) {
    font-size: 15px;
    padding: 12px 26px;
  }

  &:hover {
    //transform: translateY(-1px);
    background: $btn-gradient-hover;
    //box-shadow: 0 4px 6px rgba(50,50,93,@mixin 11), 0 1px 3px rgba(0,0,0,.08);
    transition: 0.15s;
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    //transform: translateY(1px);
    background: $btn-gradient-active;
    //box-shadow: inset 0 4px 6px rgba(50,50,93,@mixin 11), 0 1px 3px rgba(0,0,0,.08);
    transition: 0.15s;
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
  }

  &.btn-default--muted {
    &::before {
      background: $bg-color-muted;
    }
  }

  &.btn-link {
    color: $btn-invert-font-color;
    background: none;
    border-radius: none;
  }

  &.btn-primary--disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}