@import '~style/vars.scss';

$bgColor: #21435a;
$textColor: #ffffff;
$acceptButtonColor: #23d160;

.cookieBar {
  display: flex;
  border: 0;
  margin-top: 0;
  justify-content: center;
  background-color: $bgColor;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0 15px;
  box-sizing: border-box;

  & > p {
    color: $textColor;
    text-align: left;
    font-size: 10px;
    line-height: 1.3;
    max-width: 470px;
    margin: 0;
    flex: 1 1 auto;
    margin-right: 25px;
  }

  .button {
    color: $textColor;
    cursor: pointer;
    padding: 0.5em 1em;
    text-align: center;
    white-space: nowrap;
    appearance: none;
    border-radius: 4px;
    box-shadow: none;
    display: block;
    border: none;
    height: auto;
    margin: 0 0 0 1em;
    font-weight: bold;
    font-size: 13px;
    line-height: 1;

    &.accept {
      background-color: $acceptButtonColor;
    }
  }

  .settings {
    display: flex;
    flex-wrap: nowrap;

    .options {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
      border-radius: 3px;
      padding: 0.6em;
      background: #fff;
      font-size: 13px;
      align-items: center;
      justify-content: center;
      align-content: center;

      .checkbox {
        position: relative;
        margin: 4px 8px;
        top: -1px;

        label {
          cursor: pointer;
          text-transform: none;
        }

        input {
          margin-right: 5px;
        }
      }
    }
  }

  .closeButton {
    @include closeButton(15px, 3px);
    top: 10px;
    right: 3px;
    cursor: pointer;

    &:before, &:after {
      background-color: #fff;
    }
  }
}

.cb-checkbox {
  &:not(:last-of-type) {
    margin: 0 2em 0 0;
  }
}

#cb-button-edit {
  display: block;
  margin: 2em auto;
  line-height: 1;
}

@keyframes float-down {
  0% {
    margin-top: -64px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes float-up {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -64px;
  }
}

.float-enter {
  margin-top: -64px;
}
.float-enter-active {
  margin-top: 0;
  transition: all 300ms ease-out;
}
.float-exit {
  margin-top: 0;
  transform: scale(1) translateY(0%);
}
.float-exit-active {
  margin-top: -64px;
  transition: all 300ms ease-out;
}
