@import '../../../../../../scss/vars.scss';

.redeemWinning {
    display: flex;
    flex-direction: column;
    max-width: 267px;
    margin: 20px 0;
  
    .details {
      padding-left: 10px;
    }
  
    .heading {
      font-size: 30px;
    }
  
    .label {
      text-transform: uppercase;
      color: $font-color-muted;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  
    .action {
      text-align: center;
      .btn {
        padding: 10px;
        margin-top: 30px;
        height: auto;
        width: 100%;
        text-align: center;
        line-height: 1;
      }
    }
  
    .gasCost {
      margin-top: 5px;
      display: inline-block;
      color: $font-color-muted;
    }
  
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }