@import '../../../../../../scss/vars.scss';

$detailBadgesSize: 64px;

.redeemWinning {
    display: flex;
    flex-direction: column;
    max-width: 267px;
    margin: 20px 0;
  
    &__icon {
      width: $detailBadgesSize;
      height: $detailBadgesSize;
  
      position: relative;
      float: left;
    }
  
    &__details {
      float: left;
      padding-left: 10px;
      height: $detailBadgesSize;
    }
  
    &__heading {
      font-size: 30px;
    }
  
    &__label {
      text-transform: uppercase;
      color: $font-color-muted;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  
    &__action {
      text-align: center;
      .btn {
        padding: 10px;
        margin-top: 30px;
        height: auto;
        width: 100%;
        text-align: center;
        line-height: 1;
      }
    }
  
    &__gasCost {
      margin-top: 5px;
      display: inline-block;
      color: $font-color-muted;
    }
  
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }