@import '~style/vars.scss';

.list {
  min-height: inherit;

  &.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $screen-sm) {
    min-height: none;
  }
}
