@import '../../../scss/vars.scss';

.markets {
  .title {
    margin: 12px 0;
    text-transform: uppercase;
    color: $font-color-dark;
    font-weight: 400;
  }

  .container {
    min-height: 420px;
  }
}