@import '../../../scss/vars.scss';

.registerWallet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .registerContainer {
    width: 520px;
    height: 520px;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 27px;
    text-align: center;
    color: #666;

    .annotation {
      margin: 15px 0 0 0;
    }

    .walletAnnotation {
      margin: 15px 0 10px 0;
    }

    .checkBoxContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .checkBox {
        margin: 2px 0;
        input {
          border: 1px solid #09697b;
        }

        &:last-child {
          margin-bottom: 25px;
        }
      }
    }

    a {
      text-decoration: underline;
    }

    .heading {
      font-size: 21px;
      font-weight: 500;
      text-align: center;
      color: #333333;
      margin-top: 45px;
    }

    .walletAddressContainer {
      font-weight: 500;
      border-radius: 2px;
      border: solid 2px #b7bfc4;
      padding: 14px 21px 14px 14px;
      display: flex;
      align-items: center;

      .walletIcon {
        width: 20px;
        height: 20px;
      }

      .walletAddress {
        font-weight: 500;
        margin-left: 18px;
        font-size: 14px;
        color: #333;
      }
    }

    .rinkebyEthAnnotation {
      margin: 23px 0 23px 0;

      .linkIcon {
        width: 10px;
        height: 10px;
        margin-left: 5px;
      }

      .walletBalance {
        color: #333;
      }
    }
  }

  .closeButton {
    @include closeButton(32px, 5px);
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;

    &:hover {
      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }
}
